<header class="row padding-10">

    <span class="col-xs-4" id="logo">
        <img src="assets/img/logo.png" alt="SmartAdmin"> </span>

    <div class="col-xs-8 pull-right padding-10">
        <div class="row">
            <div class="col-sm-6">
                <app-language-selector></app-language-selector>
            </div>
            <div class="col-xs-6 pull-right">
                <a routerLink="/auth/login" class="btn btn-danger" l10nTranslate>Sign in</a>
                <a routerLink="/auth/register" class="btn btn-danger" l10nTranslate>Create account</a>
            </div>
        </div>
    </div>
</header>